body {
    font-family: Arial;
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding-top: 110px;
}

#container {
    width: 60%;
    margin: auto;
}

#question {
    font-weight: bold;
    font-size: 35px;
}

.choice {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.choice:hover, #start:hover{
    background-color: rgb(109, 180, 207);
    cursor: default;
    border-radius: 10px;
}


#border {
    border-width: 10px;
    border-radius: 25%;
}